window {
    background-color: #282a36;
    border: 1px solid #bd93f9;
    margin: 0px;
}

#input {
    background-color: #44475a;
    border: none;
    color: #f8f8f2;
    margin: 5px;
}

#inner-box {
    background-color: #282a36;
    border: none;
    margin: 5px;
}

#outer-box {
    background-color: #282a36;
    border: none;
    margin: 5px;
}

#scroll {
    border: none;
    margin: 0px;
}

#text {
    border: none;
    color: #f8f8f2;
    margin: 5px;
}

#entry {
    border-radius: 5px;
}

#entry:selected {
    background-color: #44475a;
}

#entry:focus, expander:focus {
    background-color: #bd93f9;
}

expander {
    color: #f8f8f2;
}

expander list {
    background-color: #44475a;
    border-radius: 5px;
    padding: 1em;
}

expander list row {
    color: #f8f8f2;
}